################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/DevOps/.vs/DevOps/v16/Server/sqlite3
