<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>https://wiki.jenkins-ci.org/display/JENKINS/Git+Changelog+Plugin</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.27"/>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>http://github.otpp.com/DevOps/Sample.git</url>
        <credentialsId>19364929-e5ee-4574-9475-ec35e7838269</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>public_jendevslave_1</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.13.3">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <org.jenkinsci.plugins.gitchangelog.GitChangelogRecorder plugin="git-changelog@1.10">
      <config>
        <useConfigFile>false</useConfigFile>
        <configFile>git-changelog-settings.json</configFile>
        <createFileUseTemplateFile>false</createFileUseTemplateFile>
        <createFileTemplateFile></createFileTemplateFile>
        <createFileUseTemplateContent>true</createFileUseTemplateContent>
        <createFileTemplateContent># Git Changelog changelog

Changelog of Git Changelog.
# Git Changelog changelog

Changelog of Git Changelog.

{{#tags}}
## {{name}}
 {{#issues}}
  {{#hasIssue}}
   {{#hasLink}}
### {{name}} [{{issue}}]({{link}}) {{title}}
   {{/hasLink}}
   {{^hasLink}}
### {{name}} {{issue}} {{title}}
   {{/hasLink}}
  {{/hasIssue}}
  {{^hasIssue}}
### {{name}}
  {{/hasIssue}}

  {{#commits}}
**{{{messageTitle}}}**

{{#messageBodyItems}}
 * {{.}} 
{{/messageBodyItems}}

[{{hash}}](https://github.com/tomasbjerre/git-changelog-lib/commit/{{hash}}) {{authorName}} *{{commitTime}}*

  {{/commits}}

 {{/issues}}
{{/tags}}</createFileTemplateContent>
        <mediaWikiUseTemplateFile>false</mediaWikiUseTemplateFile>
        <mediaWikiTemplateFile></mediaWikiTemplateFile>
        <mediaWikiUseTemplateContent>false</mediaWikiUseTemplateContent>
        <mediaWikiTemplateContent></mediaWikiTemplateContent>
        <showSummaryUseTemplateFile>false</showSummaryUseTemplateFile>
        <showSummaryTemplateFile></showSummaryTemplateFile>
        <showSummaryUseTemplateContent>true</showSummaryUseTemplateContent>
        <showSummaryTemplateContent># Git Changelog changelog

Changelog of Git Changelog.
# Git Changelog changelog

Changelog of Git Changelog.

{{#tags}}
## {{name}}
 {{#issues}}
  {{#hasIssue}}
   {{#hasLink}}
### {{name}} [{{issue}}]({{link}}) {{title}}
   {{/hasLink}}
   {{^hasLink}}
### {{name}} {{issue}} {{title}}
   {{/hasLink}}
  {{/hasIssue}}
  {{^hasIssue}}
### {{name}}
  {{/hasIssue}}

  {{#commits}}
**{{{messageTitle}}}**

{{#messageBodyItems}}
 * {{.}} 
{{/messageBodyItems}}

[{{hash}}](https://github.com/tomasbjerre/git-changelog-lib/commit/{{hash}}) {{authorName}} *{{commitTime}}*

  {{/commits}}

 {{/issues}}
{{/tags}}</showSummaryTemplateContent>
        <fromType>commit</fromType>
        <fromReference>${GIT_PREVIOUS_COMMIT}</fromReference>
        <toType>commit</toType>
        <toReference>${GIT_COMMIT}</toReference>
        <dateFormat>YYYY-MM-dd HH:mm:ss</dateFormat>
        <timeZone>UTC</timeZone>
        <ignoreCommitsIfMessageMatches>^\[maven-release-plugin\].*|^\[Gradle Release Plugin\].*|^Merge.*</ignoreCommitsIfMessageMatches>
        <useJira>false</useJira>
        <jiraServer>http://jiradevapp1.otpp.com:8080/</jiraServer>
        <jiraIssuePattern>\b[a-zA-Z]([a-zA-Z]+)-([0-9]+)\b</jiraIssuePattern>
        <jiraUsername></jiraUsername>
        <jiraPassword></jiraPassword>
        <useGitHub>false</useGitHub>
        <gitHubApi></gitHubApi>
        <gitHubIssuePattern>#([0-9]+)</gitHubIssuePattern>
        <noIssueName>No issue</noIssueName>
        <untaggedName>Unreleased</untaggedName>
        <useReadableTagName>false</useReadableTagName>
        <readableTagName>/([^/]+?)$</readableTagName>
        <useMediaWiki>false</useMediaWiki>
        <mediaWikiUsername></mediaWikiUsername>
        <mediaWikiPassword></mediaWikiPassword>
        <mediaWikiTitle></mediaWikiTitle>
        <mediaWikiUrl></mediaWikiUrl>
        <useFile>true</useFile>
        <file>GIT_CHANGELOG.txt</file>
        <customIssues>
          <org.jenkinsci.plugins.gitchangelog.config.CustomIssue>
            <name></name>
            <pattern></pattern>
            <link></link>
          </org.jenkinsci.plugins.gitchangelog.config.CustomIssue>
          <org.jenkinsci.plugins.gitchangelog.config.CustomIssue>
            <name></name>
            <pattern></pattern>
            <link></link>
          </org.jenkinsci.plugins.gitchangelog.config.CustomIssue>
        </customIssues>
        <showSummary>true</showSummary>
      </config>
    </org.jenkinsci.plugins.gitchangelog.GitChangelogRecorder>
    <org.jenkinsci.plugins.artifactdeployer.ArtifactDeployerPublisher plugin="artifactdeployer@0.33">
      <entries>
        <org.jenkinsci.plugins.artifactdeployer.ArtifactDeployerEntry>
          <includes>README.md</includes>
          <basedir></basedir>
          <excludes></excludes>
          <remote>\\I6329\Temp</remote>
          <flatten>false</flatten>
          <deleteRemote>false</deleteRemote>
          <deleteRemoteArtifacts>false</deleteRemoteArtifacts>
          <deleteRemoteArtifactsByScript>false</deleteRemoteArtifactsByScript>
          <failNoFilesDeploy>false</failNoFilesDeploy>
        </org.jenkinsci.plugins.artifactdeployer.ArtifactDeployerEntry>
      </entries>
      <deployEvenBuildFail>false</deployEvenBuildFail>
    </org.jenkinsci.plugins.artifactdeployer.ArtifactDeployerPublisher>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.40.5">
      <recipientList>jirong_hu@otpp.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>Build Status : $BUILD_STATUS
Build Number : $BUILD_NUMBER
Build Id : $BUILD_ID 

===============Git  info ==========================

Git Branch : $GIT_BRANCH
Commit Id : $GIT_COMMIT 
Git Url : $GIT_URL 

$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <attachBuildLog>true</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.28">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>