<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>C:\Tools\SonarQube\Using_The_Plsql_Hierarchical_Performance_Profiler</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.sonar.SonarRunnerBuilder plugin="sonar@2.3">
      <project></project>
      <properties># Required metadata
sonar.projectKey=DevOps.PLSQL.Plsql_Hierarchical_Performance_Profiler
sonar.projectName=DevOps.PLSQL.Plsql_Hierarchical_Performance_Profiler
sonar.projectVersion=1.0

# Language
Sonar.language=plsql

# Comma-separated paths to directories with sources (required)
sonar.projectBaseDir=C:\\Tools\\SonarQube\\Using_The_Plsql_Hierarchical_Performance_Profiler
sonar.sources=Code
# Encoding of the source files
sonar.sourceEncoding=UTF-8
</properties>
      <javaOpts></javaOpts>
      <additionalArguments></additionalArguments>
      <jdk>(Inherit From Job)</jdk>
      <task></task>
    </hudson.plugins.sonar.SonarRunnerBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>